.page2 {
  .bg > div,
  > div {
    position: absolute;
    opacity: 0;
    transition: .5 all ease;

    &.on {
      opacity: 1;
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    background: #000 url('../assets/images/page2-bg.jpg') no-repeat center top/contain;

    .title {
      position: absolute;
      top: 8%;
      opacity: 0;
      transform: translate(0, 20%);
      transition: .5s all ease .5s;

      &.on {
        opacity: 1;
        transform: none;
      }
    }

    .btn {
      position: absolute;
      bottom: 20%;
      left: 50%;
      width: 87px;
      height: 87px;
      margin-left: -47px;
      transition: .5s all ease .8s;
      opacity: 0;
      transform: translate(0, 100%);

      & > img {
        animation: around 2s linear infinite;
      }

      .btntext {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &.on {
        opacity: 1;
        transform: none;
      }

    }

  }

  .play-video {
    position: absolute;
    top: 60px;
    left: 0;
  }
}

.pagebtn {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -47px;
  z-index: 100;
}

.pagevideo {
    // transition: .5s all ease .3s;
    opacity: 0;
  .pbtn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 87px;
    height: 87px;
    margin-left: -47px;
    transition: .5s all ease .8s;
    // animation: breath 2s  linear infinite;
    > div {
      position: absolute;
      top: 0;
      left: 0;
      & > img {
        // animation: aroundBreath 2s  linear infinite;
        animation: breath 2s linear infinite;
      }
    }
  }
  &.on{
      opacity: 1;
  }
}
